#page {
    height: 900px;
}

#Box {
    width: 270px;
    height: 40px;
    border-color: rgb(0, 63, 103); border-bottom-style:ridge; border-width: 2px;
    position: relative; right: -50px; top: 20px;
}

#Picture {
    width: 280px;
    height: 400px;
    border-style:ridge; border-color: rgb(1, 84, 40); border-width: 20px;
    position: relative; left: 30px; top: 600px;
}

#Box1 {
    width: 300px; 
    height: 250px;
    position: relative; right: -950px; top: -300px;
}

#Box2 {
    width: 850px;
    height: 350px;
    border-color: rgb(11, 71, 0); border-style:groove; border-width: 10px;
    position: relative; top: -600px;
}

#Box3 {
    width: 850px;
    height: 600px;
    border-color: rgb(11, 71, 0); border-style:groove; border-width: 10px;
    position: relative; right: -550px; top: -550px;
}

#Box4 {
    width: 300px;
    height: 250px;
    position: relative; right:-950px; top: -430px;
}

#Box5 {
    width: 850px;
    height: 350px;
    border-color: rgb(11, 71, 0); border-style:groove; border-width: 10px;
    position: relative; top: -750px;
}

#Box6 {
    width: 200x;
    height: -100px;
    border-color: rgb(11, 71, 0); border-top-style:dotted ; border-width: 3px;
    position: relative; top: -700px;
}

#Box7 {
    width: 1000px;
    height: -800px;
    position: relative; right: -200px; top: -45px; 
}

